<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader %>
	</head>
	<body>
			<h1>Assignments</h1>
		<div class="dropdown">
			<button class="dropButton">Prove Assignments</button>
			<div class="contents">
				<p><a class="assign" href="prove09">Week 09</a></p>
				<p><a class="assign" href="thepcshoppe">Week 10</a></p>
				<p><a class="assign" href="thepcshoppe">Week 11</a></p>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropButton">Team Activities</button>
			<div class="contents">
				<p><a class="assign" href="teamactivity09">Week 09</a></p>
			</div>
		</div>
		<script src="home.js"></script>
		<% include ../partials/myFooter %>
	</body>
</html>
