<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader.ejs %>
	</head>
	<body>
		<h1>Math result</h1>
		<p><%= left %> <%= op %> <%= right %> = <b><%= result %></b></p>
		<a href="teamactivity09">Back</a>
		<% include ../partials/myFooter.ejs %>
	</body>
</html>