<!DOCTYPE html>
<html>
	<head>
		<title>Math</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="icon" type="image/svg+xml" href="logo.svg"/>
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<body>
		<h1>Math</h1>
		<form action="/math" method="get">
			<input name="operand1" type="number">
			<select name="operation">
				<option>+</option>
				<option>-</option>
				<option>ร</option>
				<option>รท</option>
			</select>
			<input name="operand2" type="number">
			<input type="submit" value="=">
		</form>
	</body>
</html>