<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader %>
		<script src="pcshoppe-clientscript.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body onload="loadData()">
		<h1>The PC Shoppe</h1>
		<form>
			<p>Case<br>
				<select id="cases"><option></option></select>
			</p>
			<p>Cooler<br>
				<select id="coolers"><option></option></select>
			</p>
			<p>CPU<br>
				<select id="cpus"><option></option></select>
			</p>
			<p>Graphics card<br>
				<select id="gpus"><option></option></select>
			</p>
			<p>Monitor<br>
				<select id="monitors"><option></option></select>
			</p>
			<p>Motherboard<br>
				<select id="motherboards"><option></option></select>
			</p>
			<p>Operating system<br>
				<select id="os"><option></option></select>
			</p>
			<p>Power supply<br>
				<select id="psus"><option></option></select>
			</p>
			<p>Memory<br>
				<select id="ram"><option></option></select>
			</p>
			<p>Storage<br>
				<select id="storage"><option></option></select>
			</p>
			<p><input type="submit"/></p>
		</form>
		<% include ../partials/myFooter %>
	</body>
</html>
