<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader %>
		<script src="pcshoppe-clientscript.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body onload="loadData()">
		<h1>The PC Shoppe</h1>
		<form action="/postPC" method="post">
			<p>Case<br>
				<select onblur="loadTotal()" id="cases"><option value=0></option></select>
			</p>
			<p>Cooler<br>
				<select onblur="loadTotal()" id="coolers"><option value=0></option></select>
			</p>
			<p>CPU<br>
				<select onblur="loadTotal()" id="cpus"><option value=0></option></select>
			</p>
			<p>Graphics card<br>
				<select onblur="loadTotal()" id="gpus"><option value=0></option></select>
			</p>
			<p>Monitor<br>
				<select onblur="loadTotal()" id="monitors"><option value=0></option></select>
			</p>
			<p>Motherboard<br>
				<select onblur="loadTotal()" id="motherboards"><option value=0></option></select>
			</p>
			<p>Operating system<br>
				<select onblur="loadTotal()" id="os"><option value=0></option></select>
			</p>
			<p>Power supply<br>
				<select onblur="loadTotal()" id="psus"><option value=0></option></select>
			</p>
			<p>Memory<br>
				<select onblur="loadTotal()" id="ram"><option value=0></option></select>
			</p>
			<p>Storage<br>
				<select onblur="loadTotal()" id="storage"><option value=0></option></select>
			</p>
			<p id="total"><b>Total</b><br>
				$<input value="0.00" readonly>
			</p>
			<p>
				<input type="submit" value="Create PC">
			</p>
		</form>
		<% include ../partials/myFooter %>
	</body>
</html>
