<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader %>
		<script src="pcshoppe-clientscript.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body onload="loadData()">
		<h1>The PC Shoppe</h1>
		<form>
			<p>Case
				<select id="cases"><option></option></select>
			</p>
			<p>Cooler
				<select id="coolers"><option></option></select>
			</p>
			<p>CPU
				<select id="cpus"><option></option></select>
			</p>
			<p>Graphics card
				<select id="gpus"><option></option></select>
			</p>
			<p>Monitor
				<select id="monitors"><option></option></select>
			</p>
			<p>Motherboard
				<select id="motherboards"><option></option></select>
			</p>
			<p>Operating system
				<select id="os"><option></option></select>
			</p>
			<p>Power supply
				<select id="psus"><option></option></select>
			</p>
			<p>Memory
				<select id="ram"><option></option></select>
			</p>
			<p>Storage
				<select id="storage"><option></option></select>
			</p>
			<p><input type="submit"/></p>
		</form>
		<% include ../partials/myFooter %>
	</body>
</html>
