<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/myHeader %>
		<script src="pcshoppe-clientscript.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body onload="loadData()">
		<h1>The PC Shoppe</h1>
		<form action="/postPC" method="post">
			<p>Case<br>
				<select name="casing" onblur="loadTotal()" id="casing"></select>
			</p>
			<p>Cooler<br>
				<select name="cooler" onblur="loadTotal()" id="cooler"></select>
			</p>
			<p>CPU<br>
				<select name="cpu" onblur="loadTotal()" id="cpu"></select>
			</p>
			<p>Graphics card<br>
				<select name="gpu" onblur="loadTotal()" id="gpu"><option value=0></option></select>
			</p>
			<p>Monitor<br>
				<select name="monitor" onblur="loadTotal()" id="monitor"><option value=0></option></select>
			</p>
			<p>Motherboard<br>
				<select name="motherboard" onblur="loadTotal()" id="motherboard"></select>
			</p>
			<p>Operating system<br>
				<select name="os" onblur="loadTotal()" id="os"><option value=0></option></select>
			</p>
			<p>Power supply<br>
				<select name="psu" onblur="loadTotal()" id="psu"></select>
			</p>
			<p>Memory<br>
				<select name="ram" onblur="loadTotal()" id="ram"></select>
			</p>
			<p>Storage<br>
				<select name="storage" onblur="loadTotal()" id="storage"></select>
			</p>
			<p id="total"><b>Total</b><br>$<input name="total" value="321.93" readonly>
			</p>
			<p>
				<input type="submit" value="Create PC">
			</p>
		</form>
		<div class="pcList">
			
		</div>
		<% include ../partials/myFooter %>
	</body>
</html>
