<!DOCTYPE html>
<html>
	<head>
		<title>Postal Rate Calculator</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="icon" type="image/svg+xml" href="logo.svg"/>
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<body>
		<h1>Postal Rate</h1>
		<h2>$<%= rate.toFixed(2) %></h2>
	</body>
</html>